<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Masa angka</title>
	<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<meta name="verify-v1" content="c813aa948d28d7952f7dc43e724a0405" />
	<meta name="Copyright" content="fisip.net">
	<meta name="Author" content="kipo-online.com">
	<meta name="keywords" content="Masa, Angka">
	<meta name="description" content="Masa angka">
	<meta name="ROBOTS" content="all, index, follow">
	<meta name="revisit-after" content="2 days">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/theme.css" rel="stylesheet" type="text/css" />
	<script src="js/menu.js" type="text/javascript"></script>
</head>
<body>
<div class="body-container">
<div class="page">
	<div class="page_top">
    	<div class="widget_intro">
			<h1><a href="#">Nama Perusahaan</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vehicula leo ut arcu ultricies ultrices</h1>
		</div>
        
		<div class="widget_logo">
			<a href="index.html"><img src="images/logo.png"></a>
		</div>
		<div class="widget_header">
        	<img src="images/header.jpg" />
		</div>
        <div class="widget_top">
        	<div class="block_menu_top">
				<div id="MM1">
					<ul>
						<li><span></span><a href="#">Home</a></li>
						<li>
							<span></span><a href="#">Profile</a>
							<ul>
								<li><span></span><a href="#">Overview</a></li>
								<li><span></span><a href="#">Sejarah</a></li>
								<li><span></span><a href="#">Visi dan Misi</a></li>
							</ul>
						</li>
						<li><span></span><a href="#">Pengrajin</a></li>
						<li>
							<span></span><a href="#">Agenda</a>
							<ul>
								<li><span></span><a href="#">Calendar</a></li>
								<li><span></span><a href="#">Routine</a></li>
								<li><span></span><a href="#">Events</a></li>
								<li><span></span><a href="#">Daily</a></li>
								<li><span></span><a href="#">Weekly</a></li>
								<li><span></span><a href="#">Monthly</a></li>
								<li><span></span><a href="#">Yearly</a></li>
							</ul>
						</li>
						<li><span></span><a href="#">Anggota</a></li>
						<li><span></span><a href="#">Daftar</a></li>
					</ul>
					<script type="text/javascript">cmDrawFromText("MM1", "hbr", cmThemeOffice, "ThemeOffice");</script>
				</div>
			</div>
            <div class="block_search">
				<label>Search :</label>
				<form method="post" action="">
					<input id="mod_search_searchword90" onfocus="if(this.value=='search') this.value='';" onblur="if(this.value=='') this.value='search';" value="search" size="20" alt="search" name="keyword" type="text" />
					<input id="submit" class="button" type="submit" value="GO" />
				</form>
			</div>
		</div>
        <div class="block_default">
        <div class="login_block">
            <form target="_parent" method="post" action="" name="login_form">
                <span>
                    Username :
                    <input type="text" name="usr" class="loginText">
                </span>
                <span>
                    Password :
                    <input type="password" name="pwd" class="loginText">
                </span>
                <span>
                    <label for="login_block_remember">
                        <input type="checkbox" id="login_block_remember" value="1" name="rememberme"> Remember Me
                    </label>
                </span>
                <span>
                <!--input type="hidden" name="url" value="http://demo.fisip.net/profile/" /-->
                    <input type="submit" name="submit" value="LOGIN" class="button">
                    <a href="#">Forget Password ?</a>
                    <a href="#">Register</a>
                </span>
            </form>
        </div>
        </div>
	</div>
	<div class="page_middle">
		<div class="widget_middle">
			<div class="widget_content">
				<div class="widget_content_top">
					<p> &#187; <a href="#" target="_parent">Home</a> &#187; <a href="#">Search Result</a></p>
				</div>
				<div class="widget_content_page">
					<div class="search_form">
						<form method="get" action="" onsubmit="return submit_search(this);">
							<input name="mod" size="30" value="search.result" type="hidden">
							<input name="id" size="30" value="formulir" class="text" type="text">
							<input value="Search" class="button" type="submit">
							<input id="search_action_url" value="" type="hidden">
						</form>
					</div>
					<ul class="search_result">
						<li>
							<strong>formulir</strong> not found
						</li>
					</ul>
					<div class="search_result_nav"></div>
					<div class="clear"></div>
				</div>
				<div class="widget_content_bottom">
					
				</div>
				<div class="clear"></div>
			</div>
			<!--<div class="widget_right">
				<div class="block_bright-1">
					<h3>About Masa angka</h3>
					<div class="content_block">
						<p class="content_front">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vehicula leo ut arcu ultricies ultrices.
							Quisque eros sapien, mollis ut semper id, suscipit in nunc. Nam cursus arcu vitae leo ullamcorper pharetra.
							In hac habitasse platea dictumst. 
						</p>
						<div class="clear"></div>
					</div>
				</div>
				<div class="block_bright-3">
					<h3>Newsletter Signup</h3>
					<div class="block_newsletter">
						<form method="post" action="">
							<input id="newsletter_email" onfocus="if(this.value=='Your email address') this.value='';" onblur="if(this.value=='') this.value='Your email address';" value="Your email address" size="20" alt="search" name="keyword" type="text" />
							<input id="submit" class="button" type="submit" value="Submit" />
						</form>
					</div>
					<div class="clear"></div>
				</div>
				<div class="block_light-1">
					<h3>Polling</h3>
					<div class="polling_block_q">
						Bagaimana menurut anda tentang design web ini
					</div>
					<form action="" method="post" name="polling8">
						<div class="polling_block_cell">
							<input name="option" id="option[2]" value="2" type="radio" checked="true" />
							<label for="option[2]">Bagus</label>
						</div>
						<div class="polling_block_cell">
							<input name="option" id="option[3]" value="3" type="radio" />
							<label for="option[3]">Lumayan</label>
						</div>
						<div class="polling_block_cell">
							<input name="option" id="option[4]" value="4" type="radio" />
							<label for="option[4]">Jelek</label>
						</div>
						<div class="polling_block_cell">
							<input name="option" id="option[5]" value="5" type="radio" />
							<label for="option[5]">Parah</label>
						</div>
						<div class="polling_block_cell">
							<input name="Submit" class="button" value="Submit" type="submit" />
							<a href="#" class="polling_block_link">View Result</a>
						</div>
					</form>
					<div class="clear"></div>
					<div class="clear"></div>
				</div>
				<div class="block_bright-2">
					<h3>Statistic</h3>
					<table cellpadding=0 cellspacing=0 class="statistic">
						<tr>
							<td>Total Visitor</td>
							<td>: 1080 visitors</td>
						</tr>
						<tr>
							<td>Total Member</td>
							<td>: 2 members</td>
						</tr>
						<tr>
							<td>Online Member</td>
							<td>: 0 user</td>
						</tr>
						<tr>
							<td>Online User</td>
							<td>: 1 user</td>
						</tr>
						<tr>
							<td>Actived</td>
							<td>: 2 Years, 6 Months, 1 Week, 5 Days</td>
						</tr>
					</table>
					<div class="clear"></div>
				</div>	
			</div>-->
			<div class="clear"></div>
		</div>
		<div class="widget_left">
                <!--<div class="block_menu_side">
                <h3>Menu Side</h3>
                    <div id="MM2">
                        <ul>
                            <li><span></span><a href="#">Home</a></li>
                            <li>
                                <span></span><a href="#">Profile</a>
                                <ul>
                                    <li><span></span><a href="#">Overview</a></li>
                                    <li><span></span><a href="#">Sejarah</a></li>
                                    <li><span></span><a href="#">Visi dan Misi</a></li>
                                </ul>
                            </li>
                            <li><span></span><a href="#">Pengrajin</a></li>
                            <li>
                                <span></span><a href="#">Agenda</a>
                                <ul>
                                    <li><span></span><a href="#">Calendar</a></li>
                                    <li><span></span><a href="#">Routine</a></li>
                                    <li><span></span><a href="#">Events</a></li>
                                    <li><span></span><a href="#">Daily</a></li>
                                    <li><span></span><a href="#">Weekly</a></li>
                                    <li><span></span><a href="#">Monthly</a></li>
                                    <li><span></span><a href="#">Yearly</a></li>
                                </ul>
                            </li>
                            <li><span></span><a href="#">Anggota</a></li>
                            <li><span></span><a href="#">Daftar</a></li>
                        </ul>
                        <script type="text/javascript">cmDrawFromText("MM2", "vbr", cmThemeOffice, "ThemeOffice");</script>
                    </div>
                </div>-->
			<div class="block_light-1">
				<h3>Agenda</h3>
				<div class="agenda_block">
					<table border="0" cellpadding="4" cellspacing="0">
						<tr>
							<th><a href="#">&lt;&lt;</a></th>
							<th colspan="5">July&nbsp;2010</th>
							<th><a href="#">&gt;&gt;</a></th>
						</tr>
						<tr>
							<td>Su</td><td>Mo</td><td>Tu</td><td>We</td><td>Th</td><td>Fr</td><td>Sa</td>
						</tr>
						<tr>
							<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>1</td><td>2</td><td>3</td>
						</tr>
						<tr>
							<td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td><strong>9</strong></td><td>10</td>
						</tr>
						<tr>
							<td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td>
						</tr>
						<tr>
							<td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td>
						</tr>
						<tr>
							<td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td>
						</tr>
					</table>
				</div>
			</div>
            <div class="block_light-1">
				<h3>Links</h3>
				<ul class="link_block">
					<li><a href="#" title="Forum Ilmu Sosial">Forum Ilmu Sosial</a></li>
					<li><a href="#" title="Berita Terkini">Berita Terkini</a></li>
					<li><a href="#" title="Web Maker">Web Maker</a></li>
					<li><a href="#" title="Forum Ilmu Politik">Forum Ilmu Politik</a></li>
					<li><a href="#" title="Forum Ilmu Sosial">Forum Ilmu Sosial</a></li>
					<li><a href="#" title="Berita Terkini">Berita Terkini</a></li>
				</ul>
				<div class="clear"></div>
			</div>
			<!--<div class="block_light-1">
				<h3>EVENT</h3>
				<div class="content_block">
					<div class="content_up">
						<span class="created">Created : Dec 10th, 2009 17:48:57</span>
						<div class="clear"></div>
					</div>
					<a href="#" title=""><h4>LAPORAN KEGIATAN IDUL QURBAN 1430H</h4></a>
					<div class="clear"></div>
					<div class="content_up">
						<span class="created">Created : Dec 10th, 2009 17:48:57</span>
						<div class="clear"></div>
					</div>
					<a href="#" title=""><h4>LAPORAN KEGIATAN IDUL QURBAN 1430H</h4></a>
					<div class="clear"></div>
					<div class="clear"></div>
				</div>
			</div>-->
			<div class="block_light-2">
				<h3>Contact Us</h3>
				<div class="chat_block">
					<p><a href="#"><img src="#" border=0 alt="bbc_danang" title="bbc_danang" /> danang</a></p>
					<p><a href="#"><img src="3" border=0 alt="widiantoro" title="widiantoro" /> widiantoro</a></p>
				</div>
				<div class="chat_block_address">
					<b>SDN 1 JAMBIDAN</b><br />
					Kepanjen, Jambidan, Banguntapan, Bantul, Yogyakarta 55195<br />
					Telp. (0274) 760214
				</div>
				<div class="clear"></div>
			</div>
            <div class="block_dark-1">
                <h3>Polling</h3>
                <div class="polling_block_q">
                    Bagaimana menurut anda tentang design web ini
                </div>
                <form action="" method="post" name="polling8">
                    <div class="polling_block_cell">
                        <input name="option" id="option[2]" value="2" type="radio" checked="true" />
                        <label for="option[2]">Bagus</label>
                    </div>
                    <div class="polling_block_cell">
                        <input name="option" id="option[3]" value="3" type="radio" />
                        <label for="option[3]">Lumayan</label>
                    </div>
                    <div class="polling_block_cell">
                        <input name="option" id="option[4]" value="4" type="radio" />
                        <label for="option[4]">Jelek</label>
                    </div>
                    <div class="polling_block_cell">
                        <input name="option" id="option[5]" value="5" type="radio" />
                        <label for="option[5]">Parah</label>
                    </div>
                    <div class="polling_block_cell">
                        <input name="Submit" class="button" value="Submit" type="submit" />
                        <a href="#" class="polling_block_link">View Result</a>
                    </div>
                </form>
                <div class="clear"></div>
                <div class="clear"></div>
            </div>
            <div class="block_light-1">
                <h3>Statistic</h3>
                <table cellpadding=0 cellspacing=0 class="statistic">
                    <tr>
                        <td>Total Visitor</td>
                        <td>: 1080 visitors</td>
                    </tr>
                    <tr>
                        <td>Total Member</td>
                        <td>: 2 members</td>
                    </tr>
                    <tr>
                        <td>Online Member</td>
                        <td>: 0 user</td>
                    </tr>
                    <tr>
                        <td>Online User</td>
                        <td>: 1 user</td>
                    </tr>
                    <tr>
                        <td>Actived</td>
                        <td>: 2 Years, 6 Months, 1 Week, 5 Days</td>
                    </tr>
                </table>
                <div class="clear"></div>
            </div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="page_bottom">
    	<div class="widget_bottom">
            <div class="block_menu_bottom">
				<div id="MM3">
					<ul>
						<li><span></span><a href="#">Home</a></li>
						<li>
							<span></span><a href="#">Profile</a>
							<ul>
								<li><span></span><a href="#">Overview</a></li>
								<li><span></span><a href="#">Sejarah</a></li>
								<li><span></span><a href="#">Visi dan Misi</a></li>
							</ul>
						</li>
						<li><span></span><a href="#">Pengrajin</a></li>
						<li>
							<span></span><a href="#">Agenda</a>
							<ul>
								<li><span></span><a href="#">Calendar</a></li>
								<li><span></span><a href="#">Routine</a></li>
								<li><span></span><a href="#">Events</a></li>
								<li><span></span><a href="#">Daily</a></li>
								<li><span></span><a href="#">Weekly</a></li>
								<li><span></span><a href="#">Monthly</a></li>
								<li><span></span><a href="#">Yearly</a></li>
							</ul>
						</li>
						<li><span></span><a href="#">Anggota</a></li>
						<li><span></span><a href="#">Daftar</a></li>
					</ul>
					<script type="text/javascript">cmDrawFromText("MM3", "htr", cmThemeOffice, "ThemeOffice");</script>
				</div>
			</div>
        </div>
        <div class="widget_footer">
				Copyright &copy; 2010 Akbidyo - All rights reserved. Power by <a href="http://fisip.net/">fisip.net</a><br>
                Lihat <a href="3" target="_blank">Admin Section</a> Untuk melihat semua Fitur Aplikasi							
        </div>
    </div> <!-- end page bottom -->
</div>
</div>
</body>
</html>