<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Content Management System</title>
<link rel="stylesheet" type="text/css" href="css/home.css" />
<script type="text/javascript" src="js/home.js"></script>
</head>
<body scroll="no">

<div id="x-desktop">
    <a href="<?php echo _URL; ?>user/help" target="_blank" style="margin:5px; float:right;"><img src="images/powered.gif" /></a>

    <dl id="x-shortcuts">
        <dt id="shortcut-{menu_id}">
            <a href="#"><img src="images/s.gif" />
            <div>Online News</div></a>
        </dt>
        <dt id="shortcut-{menu_id}">
            <a href="#"><img src="images/s.gif" />
            <div>User Online</div></a>
        </dt>
        <dt id="shortcut-{menu_id}">
            <a href="#"><img src="images/s.gif" />
            <div>Statistic Report</div></a>
        </dt>
    </dl>
</div>

<div id="ux-taskbar">
	<div id="ux-taskbar-start"></div>
	<div id="ux-taskbuttons-panel"></div>
	<div class="x-clear"></div>
</div>

</body>
</html>
