.search_result {
	margin: 5px 0px 2px 0px;
	padding: 0px 0px 5px 0px;
	border-top: 1px solid #ddd;
}
.search_result li {
	padding: 4px 0px 8px 0px;
	border-bottom: 1px solid #ddd;
}

.search_result_title {
	font-weight: bold;
}
.search_result_title a, .search_result_title a:visited {
	display: 100%;
	/*padding: 4px 10px 4px 12px;*/
	padding: 1%;
	padding-bottom: 20%
	font-weight: bold;
	color: #0088cc;
	text-decoration: none;
	/*background: url(images/arrow-blue.gif) no-repeat;*/
	/*background-position: 0px 8px;*/
}
.search_result_title a:hover {
	color: #484848;
	text-decoration: none;
	/*background: url(images/v_arrow.gif) no-repeat;*/
	/*background-position: 0px 8px;*/
}

.search_result_nav {
	padding: 5px 0px;
}
.search_result_nav a {
	padding: 2px 5px;
	color: #666;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #eee;
}
.search_result_nav a:hover {
	color: #0088cc;
	text-decoration: none;
	background-color: #fff;
}

.search_form {
	height: 24px;
	margin: 5px 0px 15px 0px;
	padding: 10px;
	overflow:visible;
	text-align: center;
	background: url(images/bgPage.png) repeat-x;
	background-position: 0px 50%;
}
.search_form input.text {
	width: 200px;
	height: 17px;
	margin: 2px 0px;
	padding-left: 2px;
	font-size: 12px;
	color: #333;
	background-color: #f9f9f9;
	border-top: 1px solid #dcddde;
	border-left: 1px solid #dcddde;
	border-right: 1px solid #ebeced;
	border-bottom: 1px solid #ebeced;
}
.search_form input.text:focus {
	background-color: #fff;
}
.search_form input.button {
	width: auto;
	height: auto;
	margin: 2px 0px;
	padding: 2px 12px;
	font-size: 11px;
	color: #888;
	text-transform: uppercase;
	background-color: #eaeaea;
	border: 1px solid #dcddde;
	cursor: pointer;
}